* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

/*
* Main container
*/

.container {
    max-width: 70%;
    margin: 0 auto;
    min-height: 100%;
    background-color: #FFF8E1;
}


/*
* Navigation
*/

.nav {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

.nav-ul-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav-li a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
    transition: 0.1s;
}

.nav-li a:hover {
    border-bottom: 2px solid #6200EE;
}

/*
* Social icons
*/

.social-icons {
    position: absolute;
    bottom: 50%;
}

.social-icons-ul {
    list-style: none;
    font-size: 3rem;
    padding-left: 2px;
}

.social-icons-li a {
    color: #000;
    text-decoration: none;
}

/*
* Section (Logo)
*/

.logo-img img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

/*
* Section (About)
*/

.container-about {
    height: 100v%;
    margin: 0 5% 0 5%;
}

.about-text {
    display: block;
    width: 80%;
    margin: 20px auto 0 auto; 
}

.container-about img {
    width: 150px;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10%;
}

.container-about p {
    font-size: 1.25rem;
    line-height: 2rem;
}

.tech-stack {
    display: block;
    width: 80%;
    margin: 20px auto 0 auto;
}

.tech-stack h4 {
    font-size: 2rem;
    text-align: center;
    margin-top: 10%;
    color: #6200EE;
}

.tech-stack ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tech-stack li {
    list-style: none;
    font-size: 3rem;
    margin-top: 10%;
}

/*
* Name section
*/

.name-section {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}

.name {
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 10px;
}

.name span {
    color: #FF9800;
    font-weight: 700;
}

.title {
    font-size: 3rem;
    font-weight: 200;
}

.title span {
    color: #6200EE;
    font-weight: 700;
}

/*
* Footer container
*/

/* .footer {
    height: 10%;
    width: 70%;
    background-color: #000;
    position: absolute;
    bottom: 0;
} */